<<<<<<< HEAD
/* Prima prova bootstrap */
body {
	font-family: 'Lato', sans-serif;
=======
/* Prima prova bootstrap 
*/
.btn-cta {
	border-color: #fff;
	border-width: 2px;
	border-radius: 2px;
	color: #fff;
	font-size: 16px;
	vertical-align: middle;
	line-height: 20px;
    padding: 15px 20px;

}
 h2 {
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 30px;
}


.btn-cta .glyphicon {
	font-size: 25px;
	margin-right: 20px;
}
.btn-cta .btn-text {
	position: relative;
	top: -5px;
>>>>>>> ff131a439c51dea87f67cbc9b3e2eec8bdf73ca2
}

header {
	background: linear-gradient(rgba(51,51,62,0.9), rgba(51,51,62,0.9)),
				url('img/ny-girl.jpg');
				background-size: cover;
	
}
header .logo {
	max-width: 150px;

}

@media screen and (max-width: 550px) {
	header .logo {
		margin-right: auto;
		margin-left: auto;
	}
}

<<<<<<< HEAD
/* style di altre sections */	


.invite {
	text-align: center;
	padding: 80px 0;
	font-size: 18px;
	line-height: 30px;
	word-spacing: 2px;

}

.invite p {
	color: #b7c3d2;
	font-size: 21px;
}

.glyphicon-send {
	font-size: 26px;
	color: #a8b4c3;
}

.cards {
	background-color: #31343E;
	color: #fff;
=======
.grey {
	background-color: #a4b4c5;
>>>>>>> ff131a439c51dea87f67cbc9b3e2eec8bdf73ca2
	text-align: center;
	color: #fff;
	padding: 50px 0;
	
}

