/* Prima prova bootstrap */
body {
	font-family: 'Lato', sans-serif;
}
/* Prima prova bootstrap 
*/
.btn-cta {
	border-color: #fff;
	border-width: 2px;
	border-radius: 2px;
	color: #fff;
	font-size: 16px;
	vertical-align: middle;
	line-height: 20px;
    padding: 15px 20px;
}

h2 {
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 30px;
}

.btn-cta .glyphicon {
	font-size: 25px;
	margin-right: 20px;
	color: white;
}

.btn-cta .btn-text {
	position: relative;
	top: -5px;
}

@media screen and (max-width: 767px) {
	.btn-cta {
		font-size: 15px;
		width: 90%;
		padding: 5px 10px;
	}

	.btn-cta .btn-text {
		position: relative;
		left: -18px;
	}

	.btn-cta .glyphicon {
		font-size: 23px;
		position: relative;
		left: -5px;
		top: -1px;
	}
}

header {
	background: linear-gradient(rgba(51,51,62,0.9), rgba(51,51,62,0.9)),
				url('img/ny-girl.jpg');
				background-size: cover;
	
}

header .logo {
	max-width: 150px;
}

@media screen and (max-width: 767px) {
	header .logo {
		margin-right: auto;
		margin-left: auto;
	}
}

.cards {
	background-color: #31343E;
	color: #fff;
	text-align: center;
	padding: 100px 0;
}

.cards h2 {
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 50px;
}

.cards hr {
	border-top: 2px solid #fff;
}

.cards p {
	font-size: 16px;
	font-stretch: extra-expanded;
	line-height: 30px;
}

.box p {
	padding: 0 60px;
}

.glyphicon {
	font-size: 35px;
	color: #e32fff;
}  

@media screen and (max-width: 767px) {
	.cards {
		padding: 20px 0 30px;
	}

	.box {
		margin-top: 40px;
	}
}

.invite {
	text-align: center;
	padding: 80px 0;
	font-size: 18px;
	line-height: 30px;
	word-spacing: 2px;
}

.invite p {
	color: #b7c3d2;
	font-size: 21px;
}

.glyphicon-send {
	font-size: 26px;
	color: #a8b4c3;
}

.cards {
	background-color: #31343E;
	color: #fff;
}

.grey {
	background-color: #a4b4c5;
	text-align: center;
	color: #fff;
	padding: 50px 0;
}

footer {
	background-color: #31343e;
	padding: 50px 0;	
	text-align: left;
}

@media screen and (max-width: 767px) {
	footer {
	padding: 30px 0;
	text-align: center;
	}

	.newsletter .bar-newsletter {
		margin-bottom: 30px;
		margin-right: 3px;
		
	}

	.social {
		max-width: 35px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	footer {
	padding: 50px 0;
	}

	.newsletter {
		position: relative;
		top: 5px;
	}

	.newsletter .bar-newsletter {
		width: 200px;
		margin-right: 10px;
		min-height: 35px;
	}

	.newsletter .btn-newsletter {
		min-height: 35px;
		min-width: 50px;
	}

	.social {
		max-width: 35px;
	}	
}

@media screen and (min-width: 1024px) {
	footer {
		padding: 70px 0 50px;
	}

	.newsletter .bar-newsletter {
		margin-bottom: 30px;
		margin-right: 10px;
		width: 300px;
		min-height: 40px;
	}

	.newsletter .btn-newsletter {
		min-height: 40px;
		min-width: 70px;
	}

	.social {
		max-width: 40px;
	}
}